
.awesome_button {
  padding: 10px;
  border-radius: 10px;
}

.mini_size {
  width:auto;
  height: 20px;
}

.default_size {
  width: 200px;
  height: 40px;
}

.full_size {
  width: 100%;
  height: 40px;
}
